.room:hover {
	cursor: pointer;
}
#countdown, #show_timer {
	font-weight: 500;
	text-align: center;
	font-size: 20px;
	width: 100%;
}
.style_occupied {
	background: #f34943 !important;
	color: #fff !important;
}
.clear {
	clear:both;
}
.signature {
	margin-bottom: 50px;
}
#payroll_printout hr {
	border-top: 1px solid #9a9a9a;
	clear:both;
}
#payroll_printout .card-box {
	overflow: auto;
}
.td-header {
	background: #ffe1e1;
}